body {
   font-family: Arial, sans-serif;
   background-color: #EEEEEE;
   background-image: url(img/long.png);
   background-repeat: repeat;
}

h1 {
   position:absolute;
   font-size: 64px;
   font-weight: 800;
   text-align: center;
   top:40px;
   right: 10%;
   color: #444444;
}

h2 {
   position:absolute;
   font-size: 32px;
   font-weight: 600;
   right:10%;
   top: 130px;
   color: #444444;
}

h3 {
   position:absolute;
   font-size: 48px;
   font-weight: 800;
   color:#EEEEEE;
   background-color: #DF2324;
   top:300px;
   left:-10%;
   padding:20px 20px 60px 300px;
   border-right:solid 20px #DF2324;
   border-radius:20px;
}

p {
   margin: 20px;
   padding:10px;
   /*
   border-right:solid 10px #79533C;
   */
   line-height:20px;
}

.dot {
   width:66%;
   position:absolute;
   right: 0px;
   top: 60px;
}

.box {
   display: flex;
   color:#444444;
   background-color: #C6C6C9;
   border-right:solid 20px #000000;
}

.box :first-child {
   width: 40%;
   flex: 0 0 auto;
}

.box :nth-child(2) {
   width: 40%;
   flex: 0 0 auto;
}

.whole{
   margin-left: 200px;
   margin-top: 500px;
   margin-right:5%;
}

.whole :first-child {
   border-top-left-radius:50px;
}

.bold {
   font-size: 18px;
   font-weight: 600;
}
